.container
  .row
    .col-md-12
      ul.breadcrumb
        li
          a(ui-sref='home') Home
        li Password Recovery
      form#password_recovery.form-horizontal(name='passwordRecoveryForm', ng-submit='recover(user)', novalidate, autocomplete="off")
        .form-group(ng-class="{ 'has-error' : passwordRecoveryForm.email.$invalid && !passwordRecoveryForm.email.$pristine }")
          label.col-lg-3.control-label(for='email') Email:
          .col-lg-9
            input#email.form-control(name='email', type='email', value='', ng-model='user.email', required)
        .float-right
          input.btn.btn-primary(name='commit', type='submit', value='Recover password')
