.container
  .row
    .col-md-12
      ul.breadcrumb
        li
          a(ui-sref='home') Home
        li Password Reset
      form#reset_password.form-horizontal(name='resetPasswordForm', ng-submit='resetPassword(user)', novalidate, autocomplete="off")
        .form-group(ng-class="{ 'has-error' : resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine }")
          label.col-lg-3.control-label(for='password') New Password:
          .col-lg-9
            input#password.form-control(name='password', type='password', value='', ng-model='user.password', required)
        .form-group(ng-class="{ 'has-error' : resetPasswordForm.password_confirmation.$invalid && !resetPasswordForm.password_confirmation.$pristine }")
          label.col-lg-3.control-label(for='password_confirmation') Confirm Password:
          .col-lg-9
            input#password_confirmation.form-control(name='password_confirmation', type='password', value='', ng-model='user.password_confirmation', required)
        .float-right
          input.btn.btn-primary(name='commit', type='submit', value='Reset password')
