ul.nav.nav-tabs.user-nav-tabs
  li(role="presentation", ui-sref-active="active")
    a(ui-sref="bulk-upload") My Images
  li(role="presentation", ui-sref-active="active")
    a(ui-sref="user-default") Image Defaults
  li(role="presentation", ui-sref-active="active")
    a(ui-sref="profile-edit") My Account
