.images.clearfix(id="{{selector}}")
  .image(dir-paginate="image in images | itemsPerPage: 50", brick)
    .image-controls.clearfix.animated
      input(type="checkbox", value="{{ image.image_id }}")
      a.glyphicon.glyphicon-pencil(ui-sref="image-ownership({ hashid: image.image_id })", target="_blank")
      a.glyphicon.glyphicon-remove(ng-click="delete(image)")

    img(ng-src="{{ image.reference_file_path }}")

    .name-scroll.animated
      a.image-name(ui-sref="image-ownership({ hashid: image.image_id })", target="_blank") {{ image.title }}
.clearfix
  dir-pagination-controls(on-page-change="changePage(newPageNumber)")