.images.clearfix(id="{{selector}}")
  .image(dir-paginate="image in images | itemsPerPage: $parent.itemsPerPage", brick, ng-class="{selected: selected[image.image_id]}")
    .image-controls.clearfix.animated
      a.fa.fa-pencil(ui-sref="image-ownership({ hashid: image.image_id })", target="_blank")
      a.fa.fa-times(ng-click="delete(image)")

    img(ng-src="{{ image.reference_file_path }}", ng-click="selectImage(image)")

    .name-scroll.animated
      a.image-name(ui-sref="image-ownership({ hashid: image.image_id })", target="_blank") {{ image.title }}
.clearfix
  dir-pagination-controls(on-page-change="changePage(newPageNumber)")