.images.clearfix(id="{{selector}}")
  .image(ng-repeat="image in images", brick, ng-class="{selected: selected[image.image_id]}")
    .image-controls.clearfix.animated(ng-hide="selectable == false")
      a.fa.fa-pencil(ui-sref="image-ownership({ hashid: image.image_id })", target="_blank")
      a.fa.fa-times(ng-click="delete(image)")

    img(ng-src="{{ image.reference_file_path }}", ng-click="selectImage(image)")

    .name-scroll.animated
      a.image-name(ui-sref="image-ownership({ hashid: image.image_id })", target="_blank") {{ image.title }}
.clearfix.images-pagination
  a.btn.btn-default.pull-left(ng-click="changePage(page-1)", ng-hide="isFirstPage")
    span.glyphicon.glyphicon-chevron-left
    | &nbsp;Prev
  span.label.label-default.current-page {{ page }}
  a.btn.btn-default.pull-right(ng-click="changePage(page+1)", ng-hide="isLastPage")
    | Next&nbsp;
    span.glyphicon.glyphicon-chevron-right