.images {
  .image {
    height     : 250px;
    margin-top : 40px;
    text-align : center;

    @media only screen and (max-width : 320px) {
      height : 230px;
    }
    @media only screen and (min-width : 321px) and (max-width : 767px) {
      height : 269px;
    }
    // SM Screens
    @media only screen and (min-width : 768px) {
      height : 262px;
    }
    // MD Screens
    @media only screen and (min-width : 992px) {
      height : 236px;
    }
    // LG Screens
    @media only screen and (min-width : 1200px) {
      height : 160px;
    }
    // XLG Screens
    @media only screen and (min-width : 1441px) {
      height : 225px;
    }
    // 4K Screens
    @media only screen and (min-width : 2560px) {
      height : 316px;
    }

    .img {
      -webkit-transition : all .5s;
      background         : #f6f6f6;
      border-radius      : 5px;
      height             : 100%;
      overflow           : hidden;
      transition         : all .5s;
      width              : 100%;

      img {
        display           : block;
        left              : 50%;
        position          : relative;
        top               : 50%;
        transform         : translate(-50%, -50%);
        -webkit-transform : translate(-50%, -50%);
      }

      &:hover {
        overflow: visible;

        img {
          -webkit-box-shadow : 1px 1px 7px 1px rgba(0, 0, 0, 1);
          box-shadow         : 1px 1px 7px 1px rgba(0, 0, 0, 1);
          z-index            : 98;
        }
      }
    }

    .image-controls {
      left          : 0;
      padding-left  : 15px;
      padding-right : 15px;
      position      : absolute;
      text-align    : right;
      top           : -25px;
      width         : 100%;
      z-index       : 1;

      a.fa {
        color       : #999;
        cursor      : pointer;
        font-size   : 1.3em;
        line-height : 1em;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &.selected {
      .name-scroll, .image-controls {
        transform: translateY(0);
      }
    }

    &.file {
      .image-controls {
        background: none;
      }
    }
  }
}
.images-pagination {
  margin-top : 20px;
  text-align : center;

  .label {
    font-size: 1em;
  }
}