.images.clearfix(id="{{selector}}")
  .image.col-lg-2.col-md-4.col-sm-6.col-xs-12(ng-repeat="image in images", ng-click="selectImage(image)")
    .image-controls.clearfix
      a.fa(ng-class="{'fa-square':!selected[image.image_id], 'fa-check-square':selected[image.image_id]}")

    .img
      img(ng-src="{{ image.reference_file_path }}")

.clearfix.images-pagination
  a.btn.btn-default.pull-left(ng-click="changePage(page-1)", ng-hide="isFirstPage")
    span.glyphicon.glyphicon-chevron-left
    | &nbsp;Prev
  span.label.label-default.current-page {{ page }}
  a.btn.btn-default.pull-right(ng-click="changePage(page+1)", ng-hide="isLastPage")
    | Next&nbsp;
    span.glyphicon.glyphicon-chevron-right