.menu
  a.menu-icon(ng-click="toggleOpenMenu()")
    .icon
  .navigation
    .container
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.menu-title
          a(ui-sref='home')
            img(ng-src='assets/images/icon_blue.png')
      nav.menu-links
        .row(ng-click="toggleOpenMenu()")
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            a(ui-sref='about') MISSION
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            a(href='http://docs.api.image.wiki/swagger_ui_iw/dist/', target="_blank") DEVELOPERS
          .col-lg-4.col-md-4.col-sm-4.col-xs-4
            a(ui-sref='contact') CONTACT
