/****
ADDED FROM THE imagewiki-business CSS
*/
.menu {
  margin: 0;

  .menu-icon {
    color      : #000;
    cursor     : pointer;
    display    : none;
    font-size  : .75em;
    position   : fixed;
    right      : 0;
    text-align : center;
    top        : 0;
    width      : 3em;
    z-index    : 9999;

    @media (min-width: 768px) {
      display: block;
    }
    @media (min-width: 1024px) {
      font-size : 1em;
      left      : 0;
      position  : absolute;
      top       : 0;
    }

    * {
      transition                         : all .5s;
      -webkit-transition                 : all .5s;
      transition-timing-function         : ease;
      -webkit-transition-timing-function : ease;
    }
    .icon {
      display  : block;
      height   : 3em;
      margin   : 0;
      padding  : 0;
      position : relative;
      width    : 3em;

      &:before {
        background : #000;
        box-shadow : 0 7px 0 0 #000, 0 14px 0 0 #000;
        content    : "";
        height     : 3px;
        left       : 50%;
        position   : absolute;
        top        : 33%;
        transform  : translate(-50%, -50%);
        width      : 22px;
      }
    }
    span {
      font-size   : 1.1em;
      font-weight : bold;
    }

    &:hover {
      color           : #337ab7;
      text-decoration : none;

      .icon {
        border-color: #337ab7;

        &:before {
          background : #337ab7;
          box-shadow : 0 7px 0 0 #337ab7, 0 14px 0 0 #337ab7;
        }
      }
    }

    &.opened {
      .icon {
        border-color: #FFF;

        &:before {
          background : #FFF;
          box-shadow : 0 7px 0 0 #FFF, 0 14px 0 0 #FFF;
        }
      }
      span {
        display: none;
      }
    }

  }

  .navigation {
    background                         : #48C;
    color                              : #FFF;
    left                               : 0;
    margin-top                         : -35px;
    position                           : relative;
    transition                         : all .5s;
    transition-timing-function         : ease;
    width                              : 100%;
    z-index                            : 9998;
    -webkit-transition                 : all .5s;
    -webkit-transition-timing-function : ease;

    @media (min-width: 768px) {
      margin     : 0;
      min-height : 170px;
      position   : absolute;
      top        : -300px;
      width      : 103%;
    }
    @media (min-width: 1024px) {
      min-height : 200px;
    }

    &.opened {
      margin-top: 0;

      @media (min-width: 768px) {
        top: 0px;
      }
    }

    .menu-title {
      display    : none;
      font-size  : 2em;
      text-align : center;

      @media (min-width: 768px) {
        display: block;
      }
    }

    .menu-links {
      margin: 10px 0;

      @media (min-width: 768px) {
        margin: 30px 0 20px;
      }

      a {
        color      : #FFF;
        display    : block;
        font-size  : .7em;
        text-align : center;

        @media (min-width: 768px) {
          border    : 1px solid #FFF;
          font-size : 1.3em;
          padding   : 2em 0 0;
        }
        @media (min-width: 1024px) {
          font-size: 1.85em;
        }
        @media (min-width: 1440px) {
          font-size: 2em;
        }

        &:hover {
          background      : #37B;
          text-decoration : none;
        }
      }
    }
  }
}


/**
END imagewiki-business CSS
*/
