.menu
  a.menu-icon(ng-click="toggleOpenMenu()")
    .icon
  .navigation
    .container
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.menu-title
          a(ui-sref='home')
            img(ng-src='assets/images/icon_blue.png')
      nav.menu-links
        .row(ng-click="toggleOpenMenu()")
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            a(ui-sref='about') MISSION
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            a(ui-sref='image-identification') MONETIZE
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            a(href='http://docs.api.image.wiki/swagger_ui_iw/dist/', target="_blank") DEVELOPERS
          .col-lg-3.col-md-3.col-sm-3.col-xs-3
            a(ui-sref='contact') CONTACT
