/****
ADDED FROM THE imagewiki-business CSS
*/
.menu {
  margin: 0;
  .menu-icon {
    z-index: 10;
    cursor: pointer;
    text-align: center;
    color: #000;
    position: fixed;
    top: 0;
    right: 0;

    @media (min-width: 768px) {
    }
    @media (min-width: 1024px) {
      position: absolute;
      top: 30px;
      left: 30px;
    }

    * {
      transition: all .5s;
      -webkit-transition: all .5s;
      transition-timing-function: ease;
      -webkit-transition-timing-function: ease;
    }
    .icon {
      position: relative;
      display: block;
      width: 3em;
      height: 3em;
      padding: 0;
      margin: 0;

      &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 33%;
        width: 22px;
        height: 3px;
        background: #000;
        box-shadow: 0 7px 0 0 #000, 0 14px 0 0 #000;
        transform: translate(-50%, -50%);
      }
    }
    span {
      font-weight: bold;
      font-size: 1.1em;
    }

    &:hover {
      text-decoration: none;
      color: #337ab7;

      .icon {
        border-color: #337ab7;
        &:before {
          background: #337ab7;
          box-shadow: 0 7px 0 0 #337ab7, 0 14px 0 0 #337ab7;
        }
      }
    }

    &.opened {
      .icon {
        border-color: #FFF;
        &:before {
          background: #FFF;
          box-shadow: 0 7px 0 0 #FFF, 0 14px 0 0 #FFF;
        }
      }
      span {
        display: none;
      }
    }

  }

  .navigation {
    z-index: 9;
    background: #48C;
    position: absolute;
    top: -300px;
    left: 0;
    width: 100%;
    min-height: 200px;
    color: #FFF;
    transition: top .5s;
    -webkit-transition: top .5s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;

    .menu-title {
      text-align: center;
      font-size: 2em;
    }

    .menu-links {
      margin: 30px 0 20px;
      a {
        color: #FFF;
        display: block;
        border: 1px solid #FFF;
        text-align: center;
        font-size: 2em;
        padding: 2em 0 0;

        &:hover {
          text-decoration: none;
          background: #37B;
        }
      }
    }

    &.opened {
      top: 0px;
    }
  }
}


/**
END imagewiki-business CSS
*/
