#image-name.add-edit-container.owner-info-row
  span.add-edit-toggle(ng-click="showEdit()", ng-hide="showField")
    | [
    a Add / Edit
    | ]
  .add-edit-block
    span.add-edit-label(ng-hide="showField") {{ field }}
    .add-edit-field(ng-show="showField")
      input.form-control.ownership_field(ng-if="textInput", type="{{ type }}", name="{{ name }}", ng-model="field")
      boolean-input(ng-if="type == 'boolean'", field="field", name="name")
      span.glyphicon.glyphicon-remove.field-cancel(ng-click="cancelEdit()")
      span.glyphicon.glyphicon-ok.field-save(ng-click="saveEdit()")