navbar.navbar-default {
  background-color: transparent;
  border: none;

  .navbar-header {
    .navbar-brand {
      padding: 0;

      img {
        width: 200px;

        @media (min-width: 1024px) {
          width: 230px;
          margin-left: 30px;
        }
        @media (min-width: 1440px) {
          width: 320px;
          margin-left: 30px;
        }
      }
    }
  }
  .navbar-collapse {
    padding-top: 10px;

    @media (min-width: 1440px) {
      padding-top: 20px;
    }

    .navbar-nav {

      > li:hover {
        background-color: transparent;
      }

      @media (min-width: 768px) {
        width: 73%;

        .reverse-search, .user-panel {
          float: right;
          margin: 0;
        }
        .search-container {
          width: 70%;
        }
        .user-panel-container {
          width: 29%;
          float: right;
          margin-top: -15px;
        }
      }
      @media (min-width: 1024px) {
        width: 75%;

        .search-container {
          width: 66%;
        }
        .user-panel-container {
          width: 29%;
          margin-top: 0;
        }
      }
      @media (min-width: 1440px) {
        width: 75.5%;

        .search-container {
          width: 73%;
        }
        .user-panel-container {
          width: 26.5%;
        }
      }
      @media (min-width: 1600px) {
        width: 81.5%;

        .search-container {
          width: 63%;
        }
        .user-panel-container {
          width: 36.5%;
        }
      }
    }
  }
}
