navbar.navbar-default
  //- iw-context-menu
  .navbar-header.page-scroll
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapsable')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(ui-sref='home')
      img(ng-src='assets/images/imagewiki-logo.png')
  .collapse.navbar-collapse#navbar-collapsable
    ul.nav.navbar-nav.navbar-left
      li.page-scroll.search-container
        search-block(ng-if="$state.current.data.topSearch")
      li.page-scroll.user-panel-container
        user-panel

  //- .container
  //-   .row
  //-     .col-lg-3.col-md-3.col-sm-3.col-xs-3.logo
  //-       a(ui-sref='home')
  //-         img(ng-src='assets/images/imagewiki-logo.png')
  //-     .col-lg-6.col-md-6.col-sm-6.col-xs-6.user-panel
  //-       search-block(ng-if="$state.current.data.topSearch")
  //-     .col-lg-3.col-md-3.col-sm-2.col-xs-2.bulk-login(ng-if="!$state.current.data.hideUserPanel")
  //-       .pull-right
  //-         user-panel
