.image-violation {
  margin-right: 30px;
  cursor: pointer;
  position: relative;

  label.link {
    font-weight: 400;
    cursor: pointer;
  }

  #violation-check {
    display: none;
  }

  .image-violation-form {
    display: none;
    position: absolute;
    background: #f6f6f6;
    width: 465px;
    padding: 20px 20px 10px;
    right: -80px;
    top: 30px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
    z-index: 10;
    .up-arrow {
      width: 0;
      height: 0;
      display: block;
      border-bottom: 5px solid rgba(0, 0, 0, 0.5);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      position: absolute;
      top: -7px;
      right: 83px;
    }
    .title {
      font-weight: bold;
      font-size: 1.2em;
      background: #e6e6e6;
      margin: -20px -20px 15px -20px;
      padding: 5px 5px 5px 20px;
      border-radius: 5px 5px 0 0;
    }
    label.control-label {
      font-weight: normal;
      text-align: left;
      font-size: 0.9em;
      padding-top: 9px;
      width: 23%;
    }
  }

  #violation-check:checked + .image-violation-form {
    display: block;
  }

  .form-violations {
    textarea {
      width: 84%;
      display: inline;
      height: 100px;
      resize: none;
      vertical-align: bottom;
    }
    ul {
      width: 250px;
      li {
        list-style-type: none;
        font-size: 12px;
        margin-top: 5px;
        i.fa.fa-question {
          margin-left: 3%;
        }
      }
    }
  }

  .violations-feedback {
    display: none;
  }

  .box-violations .errors {
    display: none;
    margin-top: 10px;
    padding: 9px;
    ul {
      margin-top: 5px;
      padding-left: 25px;
    }
  }
}