.image-violation.pull-right
  label.link(for="violation-check")
    i.fa.fa-flag
  input#violation-check(type="checkbox", ng-model="visible")
  .image-violation-form
    span.up-arrow
    .title Why do you flagging this image?
    .box-violations
      .form-violations
        p
          strong
            | Please enter any relevant comments in the field below, including your contact information if applicable:
        .radio
          label
            input#reason_Infringing_content(ng-model='violation.violation_reason_id', type='radio', value='Infringement')
            | Infringing content&nbsp;
            span.badge(data-placement='right', data-toggle='tooltip', title='This page contains content that infringes on my copyright, privacy, or other legal rights.')
              i.fa.fa-question
        .radio
          label
            input#reason_Sexual_content(ng-model='violation.violation_reason_id', type='radio', value='Sexual')
            | Sexual content&nbsp;
            span.badge(data-placement='right', data-toggle='tooltip', title='This image or page contains sexual or pornographic content.')
              i.fa.fa-question
        .radio
          label
            input#reason_Hateful_or_violent_content(ng-model='violation.violation_reason_id', type='radio', value='Hateful-Violent')
            | Hateful or violent content&nbsp;
            span.badge(data-placement='right', data-toggle='tooltip', title='This image or page contains violent, shocking or abusive content, or contains content that promotes hatred against certain groups or individuals.')
              i.fa.fa-question
        .radio
          label
            input#reason_Child_abuse(ng-model='violation.violation_reason_id', type='radio', value='Child-Abuse')
            | Child abuse&nbsp;
            span.badge(data-placement='right', data-toggle='tooltip', title='This page contains sexual images of minors or predatory communications towards minors.')
              i.fa.fa-question
        .radio
          label
            input#reason_Spam(ng-model='violation.violation_reason_id', type='radio', value='Spam')
            | Spam&nbsp;
            span.badge(data-placement='right', data-toggle='tooltip', title='This page contains misleading or massively posted content.')
              i.fa.fa-question
        br
        label(for='description') Comments
        br
        textarea#description.form-control(ng-model='violation.violation_comments')
        br
        br
        .pull-left(vc-recaptcha, theme="'light'", key="model.key", on-create="setWidgetId(widgetId)", on-success="setResponse(response)", on-expire="cbExpiration()")
        input.send-form-violations.btn.btn-primary.pull-right(name='commit', type="button", value='Send', ng-click="reportViolation(violation)")
