.container
  section#homepage
    .col-lg-12.col-md-12.col-sm-12
      h1.main-title
        | The world's photo identification database
      h2
        | Register your images. Protect your intellectual property. Get paid.

    .col-lg-12.col-md-12.col-sm-12
      .search-upload.search-block
        .row.field
          .col-lg-4.col-md-4.col-sm-4.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
            .upload-photo
              h3
                | Contribute to Imagewiki
              a.button(ngf-select, ng-model="directImage")
                | Upload Photo
          .col-lg-1.col-md-1.col-sm-1
            .vertical-line
          .col-lg-6.col-md-6.col-sm-6
            .home-searchbar
              h3 Reverse search Imagewiki
            //- search-block
          img(ngf-src="directImage")
    .col-lg-12.col-md-12.col-sm-12
      .horizontal-line

    .col-lg-12.col-md-12.col-sm-12
      .learn-more
        h2
          | Imagewiki is working to compensate photographers and businesses for unlicensed uses on the web.
          br
          a(ui-sref="image-identification") Learn More