.container
  section#homepage
    .row
      .col-lg-6.col-md-6.col-sm-6
        h1.main-title
          | Link images inseparably with their credit.
        p
          | Imagewiki is a Wiki supported by Visual Artists to link images with their owners.&nbsp;
          | Claiming ownership of images on Imagewiki means the community will know it's yours, and how it may be shared.
        .upload-photo
          h3
            | Try it.
          .upload-box(ngf-select, ngf-drop, ng-model="file")
            .icon
              i.fa.fa-upload
              | Upload a file
      .col-lg-1.col-md-1.col-sm-1.middle-line
        .vertical-line
      .col-lg-5.col-md-5.col-sm-5.random-image
        .loading-random-image(ng-hide="featuredCollection.collection_images.length > 0")
          span.fa.fa-circle-o-notch.fa-spin
        .random-image-box(ng-show="featuredCollection.collection_images.length > 0")
          i.fa.fa-refresh(ng-click="reloadFeatured()")
          h2 {{ featuredImage.title }}
          img(ng-src='{{ featuredImage.reference_file_path }}', alt="{{ featuredImage.title }} - {{ featuredImage.creator.creator_name }}")
          p.owner(ng-show="featuredImage.creator.creator_name != ''")
            | {{ featuredImage.creator.creator_name }}
          .field(ng-if="featuredImage.license_type_id != null && featuredImage.license_type_id != ''")
            span.field-name License Type
            |  {{ featuredImage.license_type_id }}
          .field.business-rule(ng-if="featuredImage.platform_business_rules.length > 0")
            span.field-name Social Media Usage Rules
            i(ng-repeat="rules in featuredImage.platform_business_rules")
              | {{ rules.business_rule_name }}

          a(ui-sref="image-ownership({ hashid: featuredImage.image_id })").more More about this image
    .row
      .col-lg-12.col-md-12.col-sm-12
        p.social-media-integration
          | Anyone can find owners and sharing preferences by simply uploading the image to the search bar.
          br
          | Imagewiki is also working with social media platforms to identify image uploads on their sites.&nbsp;
          a(ui-sref="about") Learn More

    .row.social-media-steps
      .col-lg-4.col-md-4.col-sm-4
        .inner-box
          h3 1. Import your images
          img(alt="Import your images", src="assets/images/social-media-step-1.png")
          p Select the images to be claimed as yours
      .col-lg-4.col-md-4.col-sm-4
        .inner-box
          h3 2. Link your information
          img(alt="Link your information", src="assets/images/social-media-step-2.png")
          p Apply default ownership info
          ul
            li - Name
            li - Contact info
            li - Credit Line
            li - Sharing preferences
      .col-lg-4.col-md-4.col-sm-4
        .inner-box
          h3 3. Success - Claimed
          img(alt="Success - Claimed", src="assets/images/social-media-step-3.png")
          p Your images will now have automatic credit on participated social media platforms. You are now elegible to participate in revenue opportunites.
          br
          a(ui-sref="image-identification") Learn More

    .row
      .col-lg-12.col-md-12.col-sm-12
        a.btn.btn-lg.btn-primary.sign-up(ng-click="openSignUpForm()") Sign Up
