.container
  ul.breadcrumb
    li
      a(ui-sref='home') Home
    li About
  .static-page.about
    h2
      span.strong Mission:
      | Imagewiki is a public directory of ownership, authorship, &amp; licensing information for every image in the world.
    p
      | Nearly 2 billion photos are shared online every day. &nbsp;Too often photographer credit goes entirely un-cited, unknown and unfound.&nbsp;This phenomenon results in hundreds of millions of &ldquo;orphaned&rdquo; images floating around the web.
    p
      | Imagewiki is a free, community-driven approach to cataloging and attributing ownership information to images. Image creators or owners can submit files with their relevant information to be searchable by text or reverse search while the community at large can collaborate to identify unknown works.
    h2.strong Why is adding my images to Imagewiki so important?
    p
      | Infringement is everywhere. &nbsp;The number one excuse infringers use is, &ldquo;I couldn&rsquo;t find the owner!&rdquo; &nbsp;While this defense doesn&rsquo;t hold up in court, it is causing lawmakers to rethink their approach to this pervasive problem.
    p
      | New legislation passed in the UK (The Enterprise and Regulatory Reform Act 2013) drastically changes the precedent on orphaned images. The bill allows anyone to obtain compulsory licenses for images whose owners cannot be found. Affirming ownership of your works is more important now than ever.
    p
      | Adding and verifying content in the Imagewiki database ensures that your ownership will be clearly documented and published online for all to see.  Publishing your images on Imagewiki eliminates ambiguity about the ownership, licensing representation and contact information behind your work.
    h2.strong I&rsquo;m a photographer and my images are already on Imagewiki, how can I make sure I&rsquo;m listed as the owner and that it doesn&rsquo;t change?
    p
      | Please
      a(href='/users/sign_up') sign up
      |  to verify your image and add ownership data.
    h2.strong I&rsquo;m a photographer/image creator/image rights holder, can I send you my information in bulk?
    p
      | Of course.&nbsp;If you want to ensure that your data is applied to a large collection of images at once, contact us at
      a(href='mailto:info@imagewiki.org') info@imagewiki.org
      | .
    h2.strong Contact Us
    p
      a(href='mailto:info@imagewiki.org') info@imagewiki.org
