.container
  #image-identification-page
    .money-left
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          h2 Our Mission
          p
            | Imagewiki is a free, community-driven approach to cataloging and attributing ownership information to images. Image creators or owners can submit files with their relevant information to be reverse-searchable while the community at large can collaborate to identify unknown works.
          .intro
            .line
              .line-box Why contribute to Imagewiki?
              .horizontal-line
    .money-left
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          h2 Link yourself inseparably to your images
          p
            | As your images spread across the web on social media, publications and search engines, it is imperative to eliminate ambiguity about the ownership of your works by claiming ownership of them on a universal platform like Imagewiki. Whether you&apos;re a photographer or the owner of a large database of images, your time and work is not free, so your content shouldn&apos;t be free either, unless you want it to be. Adding and verifying content in the Imagewiki database ensures that your ownership is clearly documented and published online for all to see. You can declare lenient usage instructions or strict and specific rules about what can be done with your images. By including critical attribution information on your works, you can
            strong &nbsp;show the world that you own your images regardless of where they are shared.
          .intro
            .line
              .line-box What can I do with this image?
              .horizontal-line
    .money-left
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          h2 Building a better community around image content.
          p
            strong Images have the irreplaceable power to unite us on the web.&nbsp;
            | However, there is no way for those who use images on the web&mdash;either commercially or personally&mdash;to determine who owns most of those images. The availability of images online continues to grow, as does the number of platforms on which to use them, outpacing the ability of creators to keep track of how and where they are being used. With your help, Imagewiki is building an organized and transparent database of image ownership to make possible a functional and responsible ecosystem for images on the web.
          .horizontal-line
    .money-left
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          h2 What&apos;s next?
          p
            | Hosting a robust database is just the beginning. Imagewiki is making it possible for internet platforms to identify the images that are used on their websites. Once images are identifiable, creators can have control and receive compensation for online image sharing.
