.container
  #api
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.subtitle
        h2 API Documentation
    .intro
      p
        | Thank you for interest in the Imagewiki REST API!
      p
        | These methods are meant to make it possible for individuals and organizations to programmatically identify images and their ownership information. The API also makes it possible to submit images and ownership data to the Imagewiki database.

    h3 Accessing the API
    p.step-description
      | You can gain access to our API by emailing api@imagewiki.org with your full name, company, address and brief description of how you intend to use the API. If your request is approved, you will be given a username and password that you may exchange for access tokens.

    h3 Querying the API
    p.step-description
      | The API endpoint is at api.imagewiki.org. All requests are done by HTTP POST and require an access token

    h3 API Methods
    h4.method.no-top-margin /search
    p.method-description
      | This method allows you to search for images by keyword.

    .table-container
      table.table.table-striped
        thead
          tr
            th PARAMETERS
            th TYPE
            th DESCRIPTION
        tbody
          tr
            td <code>keyword</code>
            td String
            td Text to be searched
          tr
            td <code>authorization_token</code>
            td String
            td Token issued by authentication
    .example
      h5 Example Query:
      pre
        code
          | curl -X POST http://api.imagewiki.org/search/led%20zeppelin -H 'Authorization: Token token=0541d7dipfd6249875b751ak12f90085'

      h5 Example Response:
      pre
        code
          | {
          br
          |   "results_count": 1345,
          br
          |   "per_page": 75,
          br
          |   "results": [
          br
          |   ...
          br
          |   {
          br
          |       "id": "6e370qz054on",
          br
          |       "title": "Led Zeppelin at Kennedy Center honors",
          br
          |       "urls": [
          br
          |           "http://www.overthinkingit.com/wp-content/uploads/2013/07/led-zeppelin-banner.jpg",
          br
          |           ...
          br
          |       ],
          br
          |       "width": "1280",
          br
          |       "height": "720",
          br
          |       "ownership_data": {
          br
          |           "author": {
          br
          |               "name": "Joe Shmoe",
          br
          |               "address": "125 Fake St. Fresno CA 90022",
          br
          |               "email": "joe@shmoe.com",
          br
          |               "representative": "Joe Shmoe, CAA",
          br
          |               ...
          br
          |           },
          br
          |           ...
          br
          |        }
          br
          |    }
          br
          |    ...
          br
          |    ]
          br
          | }

    h4.method /search/image
    p.method-description
      | This method allows you to search for images by sending an Image by HTTP POST
    .table-container
      table.table.table-striped
        thead
          tr
            th PARAMETERS
            th TYPE
            th DESCRIPTION
        tbody
          tr
            td <code>file</code>
            td Binary Stream
            td A link to a local file to be used in the search
          tr
            td <code>authorization_token</code>
            td String
            td Token issued by authentication
    .example
      h5 Example Query:
      pre
        code
          | curl -X POST http://api.imagewiki.org/search/image/ -H 'Authorization: Token token=0541d7dipfd6249875b751ak12f90085' -F '@file=path/to/my/file.jpg'

      h5 Example Response:
      pre
        code
          |{"closest_match":
          br
          |     {
          br
          |        "id": "6e370qz054on",
          br
          |        "title": "Led Zeppelin at Kennedy Center honors",
          br
          |        "urls": [
          br
          |            "http://www.overthinkingit.com/wp-content/uploads/2013/07/led-zeppelin-banner.jpg",
          br
          |            ...
          br
          |        ],
          br
          |       "ownership_data": {
          br
          |           "author": {
          br
          |               "name": "Joe Shmoe",
          br
          |               "address": "125 Fake St. Fresno CA 90022",
          br
          |               "email": "joe@shmoe.com",
          br
          |               "representative": "Joe Shmoe, CAA",
          br
          |               ...
          br
          |           },
          br
          |           ...
          br
          |        }
          br
          |     }
          br
          |}

    .helped
      span Was this helpful?
      .btn.btn-primary Yes
      .btn.btn-default No