.container
  ul.breadcrumb
    li
      a(ui-sref='home') Home
    li Contact
  .static-page
    h2 Want to send us your information in bulk?
    p
      | If you want to ensure that your data is applied to a large collection of images at once, contact us at
      a(href='mailto:info@imagewiki.org') info@imagewiki.org
    h2 Contact Us
    p
      a(href='mailto:info@imagewiki.org') info@imagewiki.org
