.container-fluid.liquid-container
  .row
    .col-lg-10.col-md-10.col-sm-10.col-xs-10.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.content-main
      #image-identification-page
        .intro
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              h1
                | Imagewiki's identification technology allows copyright holders to be compensated for unlicensed image sharing.
              img(alt='How content id technology works', ng-src='assets/images/how-content-id-technology-works.jpg')
              p
                | Enrolling in our global content identification system puts the control back in the hands of the copyright holders.
              .line
                .line-box Building a Fair Ecosystem
                .horizontal-line
        .money-left
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              h2 Money is being left on the table
              p
                | There are hundreds of billions of page views powered by infringed images going un-monetized every year.
              p
                | The only sustainable model for copyright owners to be fairly compensated for online image sharing is to enroll in a global content identification system capable of enforcing pre-set business rules, including monetization through native ads.
        .our-technology
          .row
            .col-lg-7.col-md-7.col-sm-7.col-xs-7
              h2 Our Technology
              p
                | Imagewiki generates a unique fingerprint for each image that is submitted to our database, which can then be matched with unknown images on the web.
              p
                | Online platforms that support images sharing can request image identification through our API in order to verify the legality of images being shared. When images are found that match our contributors' content, the management settings chosen by the content owners can be implemented, allowing images to be blocked, tracked or monetized to generate ad revenue.
            .col-lg-5.col-md-5.col-sm-5.col-xs-5
              img(alt='Image analysis', ng-src='assets/images/image-analysis.jpg')
        .future
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              h2 Creating the Future of Image Sharing
              p
                | In order to be protected by the safe harbors of the DMCA (Digital Millennium Copyright Act),
                strong
                  | Online Service Providers (OSPs) cannot receive any financial benefit directly attributable to infringing activity.
              p
                | This means OSPs cannot advertise directly on user generated content unless they identify the media, its owner and its use-policy.
              p
                | In the current digital landscape of 2015, more and more advertisers are utilizing 'Native Ads' to better reach users. This is because native advertisements fit functionally into the main page content, making them many times more effective than banner or margin ads. However, native ad revenue will be substantially less for OSPs who cannot expand their advertising reach into user-generated content.
              p
                | OSPs can quickly become compliant while increasing advertising revenue by implementing an image identification system like Imagewiki.
              .horizontal-line
        .submit-your-image
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              h2
                | Submit your image collection
                br
                a(ui-sref='add-images') Learn More
                br
