.ownership-info
  .ownership-list
    h3 How can this image be used?
    table.table-striped
      tbody
        tr
          td
            label License Type Options
          td
            editable-field(type="'select'", name="'license_type_id'", ng-model="image.license_type_id")

  //- .ownership-list
  //-   h3 Social media usage rules?
  //-   table.table-striped
  //-     tbody
  //-       tr
  //-         td
  //-           label Platform Business Rules
  //-         td
  //-           editable-field(type="'select'", name="'platform_business_rules'", ng-model="image.platform_business_rules")

  .ownership-list
    h3 Creator Information
    table.table-striped
      tbody
        tr
          td
            label Creator Name
          td
            editable-field(type="'text'", name="'creator.creator_name'", ng-model="image.creator.creator_name")
        tr
          td
            label Website
          td
            editable-field(type="'text'", name="'creator.site_url'", ng-model="image.creator.site_url")
        tr
          td
            label Email
          td
            editable-field(type="'text'", name="'creator.email'", ng-model="image.creator.email")

  .ownership-list
    h3 General Info
    table.table-striped
      tbody
        tr
          td
            label Credit Byline
          td
            editable-field(type="'text'", name="'credit_byline'", ng-model="image.credit_byline")
        tr
          td
            label Description
          td
            editable-field(type="'text'", name="'description'", ng-model="image.description")
        tr
          td
            label Keywords
          td
            editable-field(type="'array'", name="'keywords'", ng-model="image.keywords")
        tr
          td
            label Publication Date
          td
            editable-field(type="'date'", name="'publication_date'", ng-model="image.publication_date")
        tr
          td
            label Creation Date
          td
            editable-field(type="'date'", name="'creation_date'", ng-model="image.creation_date")
        tr
          td
            label Location
          td
            editable-field(type="'text'", name="'location'", ng-model="image.location")
        tr
          td
            label Rated R?
          td
            editable-field(type="'boolean'", name="'is_r_rated'", ng-model="image.is_r_rated")
  .ownership-list
    h3 Licensing Information
    table.table-striped
      tbody
        tr
          td
            label Licensing Representative
          td
            editable-field(type="'text'", name="'licensing_rep.licensing_rep_name'", ng-model="image.licensing_rep.licensing_rep_name")
        tr
          td
            label Licensing Website
          td
            editable-field(type="'text'", name="'licensing_rep.site_url'", ng-model="image.licensing_rep.site_url")
        tr
          td
            label Exclusive Representation?
          td
            editable-field(type="'boolean'", name="'licensing_rep.is_exclusive'", ng-model="image.licensing_rep.is_exclusive")
        tr
          td
            label Royalty Free?
          td
            editable-field(type="'boolean'", name="'is_royalty_free'", ng-model="image.is_royalty_free")
        tr
          td
            label Rights Managed?
          td
            editable-field(type="'boolean'", name="'is_rights_managed'", ng-model="image.is_rights_managed")
        tr
          td
            label Model Release
          td
            editable-field(type="'text'", name="'model_release_info'", ng-model="image.model_release_info")
        tr
          td
            label Property Release
          td
            editable-field(type="'text'", name="'property_release_info'", ng-model="image.property_release_info")
        tr
          td
            label PLUS ID
          td
            editable-field(type="'text'", name="'plus_id'", ng-model="image.plus_id")

.save-bar(ng-class="{'unsaved-changes': !saved}")
  a.btn.btn-default.pull-left(ui-sref='home', ng-show="saved") Back
  a.btn.btn-danger.pull-left(ng-hide="saved", ng-click="resetImage()") Cancel
  button.btn.btn-primary.pull-right(type="submit", ng-hide="saved") Save Image
  .unsaved-message(ng-hide="saved") Your image has unsaved changes.