.row.quick-menu
  .col-lg-8.col-md-8.col-sm-8.col-xs-8.col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-xs-offset-2.content-main
    ul.breadcrumb
      li
        a(ui-sref='home') Home
      li Image Ownership
    .alert.alert-dismissable.alert-danger(ng-if="isImageMissingInfo(image)")
      button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
      strong This image is missing information.
      | Please add ownership information if you know who owns this photo.
    form#info_image.edit_image(name="imageForm", ng-submit="updateImage(image)")
      .image-info.clearfix
        .image.float-left
          img(alt='', ng-src='{{image.reference_file_path}}')
        .info.float-right.ownership-info
          editable-field(type="'text'", name="'title'", ng-model="image.title", block="'h3'")
      .page-header
        .fb-share-button.pull-right(data-href='http://localhost:3100/image-ownership/1e2gyj1ypnvk', data-type='button')

        //- Include ImageViolation button partial
        ng-include(src="'app/images/image-violation.html'")

        h2(ng-click="debugImage()") Copyright and ownership Information
      .ownership-info
        .ownership-list
          table.table-striped
            tbody
              tr
                td
                  label Representative name
                td
                  editable-field(type="'text'", name="'licensingRepName'", ng-model="image.licensingRepName")
              tr
                td
                  label Representative website
                td
                  editable-field(type="'text'", name="'licensingRepUrl'", ng-model="image.licensingRepUrl")
              tr
                td
                  label License Type
                td
                  editable-field(type="'text'", name="'licenseType'", ng-model="image.licenseType")
              tr
                td
                  label Publication Date
                td
                  editable-field(type="'date'", name="'publicationDate'", ng-model="image.publicationDate")
              tr
                td
                  label Galleries
                td
                  editable-field(type="'text'", name="'galleries'", ng-model="image.galleries")
              tr
                td
                  label Credit attribution text
                td
                  editable-field(type="'text'", name="'creditByLine'", ng-model="image.creditByLine")
              tr
                td
                  label Model release info
                td
                  editable-field(type="'text'", name="'modelReleaseInfo'", ng-model="image.modelReleaseInfo")
              tr
                td
                  label Copyright information
                td
                  editable-field(type="'text'", name="'copyrightInfo'", ng-model="image.copyrightInfo")
              tr
                td
                  label Representative is exclusive?
                td
                  editable-field(type="'boolean'", name="'isExclusiveLicensingRep'", ng-model="image.isExclusiveLicensingRep")
              tr
                td
                  label Is rights managed?
                td
                  editable-field(type="'boolean'", name="'isRightsManaged'", ng-model="image.isRightsManaged")
              tr
                td
                  label Is royalty free?
                td
                  editable-field(type="'boolean'", name="'isRoyaltyFree'", ng-model="image.isRoyaltyFree")
              tr
                td
                  label Is for editorial use only?
                td
                  editable-field(type="'boolean'", name="'isEditorialOnly'", ng-model="image.isEditorialOnly")
              tr
                td
                  label Is for commercial use only?
                td
                  editable-field(type="'boolean'", name="'isCommercialUseOnly'", ng-model="image.isCommercialUseOnly")
              tr
                td
                  label Is 'R Rated'?
                td
                  editable-field(type="'boolean'", name="'isRatedR'", ng-model="image.isRatedR")

      br
      a.btn.btn-default(ui-sref='home') Back
      button.btn.btn-primary.pull-right(type="submit") Save Image
