.image-info {
  .image img {
    width: 300px;
    display: block;
    margin: 0 auto;
  }
  .title, .creator {
    position: relative;
    font-size: 1em;
    text-align: center;

    h3 {
      margin: .6em 0;
      font-weight: bold;
    }

    .add-edit-field {
      width: 350px;
      margin: 0 auto;
    }
  }
  .creator:before {
    content: 'by ';
  }
}
.ownership-info {

  .page-header h2 {
    font-size: 1em;
    margin: 0;
  }
  .ownership-list {
    border: 1px solid #CCC;
    margin-top: 20px;
    h3 {
      background: #CEF;
      text-align: center;
      padding: 5px;
      font-size: 1em;
      font-weight: bold;
      margin: 5px 5px 0;
    }
  }
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    tbody tr {
      td {
        padding: 5px 10px;
        &:first-child {
          background: #CCF;
          width: 25%;
          text-align: right;
        }
      }
      &.child td:first-child {
        background: #DFDFF0;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        &:before {
          content: " ";
          background: #FFF;
          display: inline;
          float: left;
          width: 40px;
          height: 100%;
          margin: 0;
          padding: 0;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      td {
        &:last-child {
          padding-left: 10px;
        }
        span {
          font-size: .9em;
          a {
            cursor: pointer;
          }
        }
      }
    }
  }
  .owner-info-row {
    &.add-edit-container > div {
      float: left;
      width: 100%;

      @media (min-width: 768px) {
        margin-right: 10px;
      }
    }
    .add-edit-toggle a {
      cursor: pointer;
    }

    .add-edit-field {
      margin: -5px 0;
      .form-control {
        display: inline;
      }
      .glyphicon {
        cursor: pointer;
      }
      .field-cancel {
        color: #C00;
      }
      .field-save {
        color: #0C0;
      }
    }

    &:not(.date) {
      .form-control {
        height: 30px;
        width: 100%;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
      }
    }
    &.date {
      .dropdown {
        width: 260px;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
  .add-edit-container.has-datepicker.owner-info-row .form-control {
    width: 100px;
    text-align: center;
  }
  tr td label {
    font-weight: normal;
    margin: 5px 0;
  }
}


.save-bar {
  margin: 10px 0 0;
  z-index: 999;

  &.unsaved-changes {
    background : #F66;
    bottom     : 0;
    box-shadow : 0 0 15px 0 rgba(0,0,0,0.5);
    font-size  : 1.333em;
    left       : 0;
    padding    : 10px;
    position   : fixed;
    width      : 100%;
  }

  .unsaved-message {
    color      : #FFF;
    display    : block;
    margin     : 0 auto;
    text-align : center;
    width      : 50%;
  }
}