.row.quick-menu
  .col-lg-8.col-md-8.col-sm-8.col-xs-8.col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-xs-offset-2.content-main
    a.btn.btn-primary.pull-right(ng-click="toggleEdition()") Edit Image
    ul.breadcrumb
      li
        a(ui-sref='home') Home
      li Image Ownership
    .alert.alert-dismissable.alert-danger(ng-if="isImageMissingInfo(image)")
      button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
      strong This image is missing information.
      | Please add ownership information if you know who owns this photo.
    form#info_image.edit_image(name="imageForm", ng-submit="updateImage(image)")
      .image-info.clearfix
        .image.float-left
          img(alt='', ng-src='{{image.reference_file_path}}')
        .info.float-right.ownership-info
          editable-field(type="'text'", name="'title'", ng-model="image.title", block="'h3'")
      .page-header
        .fb-share-button.pull-right(data-href='http://localhost:3100/image-ownership/1e2gyj1ypnvk', data-type='button')

        //- Include ImageViolation button partial
        image-violation(image-id="image.image_id")

        h2(ng-click="debugImage()") Copyright and ownership Information
      .ownership-info(ng-include="'app/images/images-fields.html'")


      .save-bar(ng-class="{'unsaved-changes': !saved}")
        a.btn.btn-default.pull-left(ui-sref='home', ng-show="saved") Back
        a.btn.btn-danger.pull-left(ng-hide="saved", ng-click="resetImage()") Cancel
        button.btn.btn-primary.pull-right(type="submit") Save Image
        .unsaved-message(ng-hide="saved") Your image has unsaved changes.
