.row.quick-menu
  .col-lg-8.col-md-8.col-sm-8.col-xs-8.col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-xs-offset-2.content-main
    ul.breadcrumb
      li
        a(ui-sref='home') Home
      li Image Ownership
    .alert.alert-dismissable.alert-danger(ng-if="isImageMissingInfo(image)")
      button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
      strong This image is missing information.
      | Please add ownership information if you know who owns this photo.
    form#info_image.edit_image(name="imageForm", ng-submit="updateImage(image)")
      .image-info.clearfix
        .image.float-left
          img(alt='', ng-src='{{image.reference_file_path}}')
        .info.float-right.ownership-info
          editable-field(type="'text'", name="'title'", ng-model="image.title", block="'h3'")
      .page-header
        .fb-share-button.pull-right(data-href='http://localhost:3100/image-ownership/1e2gyj1ypnvk', data-type='button')

        //- Include ImageViolation button partial
        image-violation(image-id="image.image_id")

        h2(ng-click="debugImage()") Copyright and ownership Information
      .ownership-info
        .ownership-list
          h3 General Info
          table.table-striped
            tbody
              tr
                td
                  label Description
                td
                  editable-field(type="'text'", name="'description'", ng-model="image.description")
              tr
                td
                  label Contributor Reference
                td
                  editable-field(type="'text'", name="'contributor_reference'", ng-model="image.contributor_reference")
              tr
                td
                  label Keywords (comma separated)
                td
                  editable-field(type="'text'", name="'keywords'", ng-model="image.keywords")
              tr
                td
                  label License Type
                td
                  editable-field(type="'select'", name="'license_type_id'", ng-model="image.license_type_id")
              tr
                td
                  label Publication Date
                td
                  editable-field(type="'date'", name="'publication_date'", ng-model="image.publication_date")

        .ownership-list
          h3 Creator Info
          table.table-striped
            tbody
              tr
                td
                  label Name
                td
                  editable-field(type="'text'", name="'creator.creator_name'", ng-model="image.creator.creator_name")
              tr
                td
                  label Email
                td
                  editable-field(type="'text'", name="'creator.email'", ng-model="image.creator.email")
              tr
                td
                  label Site
                td
                  editable-field(type="'text'", name="'creator.site_url'", ng-model="image.creator.site_url")

          .ownership-list
            h3 Licensing Representative Info
            table.table-striped
              tbody
                tr
                  td
                    label Is exclusive?
                  td
                    editable-field(type="'boolean'", name="'licensing_rep.is_exclusive'", ng-model="image.licensing_rep.is_exclusive")
                tr
                  td
                    label Name
                  td
                    editable-field(type="'text'", name="'licensing_rep.licensing_rep_name'", ng-model="image.licensing_rep.licensing_rep_name")
                tr
                  td
                    label Site
                  td
                    editable-field(type="'text'", name="'licensing_rep.site_url'", ng-model="image.licensing_rep.site_url")

      br
      a.btn.btn-default(ui-sref='home') Back
      button.btn.btn-primary.pull-right(type="submit") Save Image
