table#list_matches{
  max-width : 600px;
  margin: auto;

  td.img_thumb{
    padding  : 10px;
    position : relative;
    width    : 200px;

    .is-verified {
      position: absolute;
      color: #3cb73c;
      top: 11px;
      left: -9px;
    }

    img{
      max-width : 150px;
    }
  }

  dl{
    dt{
      padding-top: 5px;
    }
    dd{
      padding-left: 5px;

      dl{
        margin-left: 10px;

        dd{
          i.fa{
            margin-right  : 5px;
          }
        }
      }
    }
  }
}
