.container-fluid.liquid-container
  .row
    .col-lg-10.col-md-10.col-sm-10.col-xs-10.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.col-xs-offset-1.content-main
      .bulk-upload
        h2 My Contributions
        .btn-group.pull-right.bulk-actions
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
            | Actions
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a.edit(data-href='/bulk-edit') Edit
            li
              a.delete(data-href='/confirm-bulk-delete') Delete
        //- The fileinput-button span is used to style the file input field as button
        .action-buttons
          span.btn.btn-primary.fileinput-button(ngf-select, ng-model="files", ngf-multiple="true")
            i.glyphicon.glyphicon-plus
            span &nbsp;Upload More Images
          | &nbsp;
          a(href="/instagram/import")
            span.btn.btn-primary
              i.fa.fa-instagram(title='Connect with Instagram')
              span &nbsp;Import from instagram

        //- The container for the uploaded files
        .files.clearfix(ng-show="files.length > 0")
          h2 Uploading...
          bulk-file-item(ng-repeat="file in files")

        h2(ng-show="files.length > 0") Your Images
        images-wall(images="images", selector="user-images")
        //- bulk-image-item(dir-paginate="image in images | itemsPerPage: 50")

