.row.quick-menu
  .col-lg-8.col-md-8.col-sm-8.col-xs-8.col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-xs-offset-2.content-main
    a.btn.btn-primary.pull-right(ng-click="toggleEdition()") Edit Image
    ul.breadcrumb
      li
        a(ui-sref='home') Home
      li Bulk Image Edit
    form#info_image.edit_image(name="imageForm", ng-submit="updateImage(image)")
      .image-info
        images-wall(images="images", selector="user-images", selectable="false")
      .page-header
        h2(ng-click="debugImage()") Copyright and ownership Information
      .image-fields(ng-include="'app/images/images-fields.html'")
