.bulk-edit, .bulk-upload {
  h2 {
    border-bottom  : 1px solid #ccc;
    font-weight    : bold;
    padding-bottom : 5px;
  }
}

.bulk-upload-link {
  color           : #666;
  cursor          : pointer;
  display         : block;
  font-size       : 1.2em;
  margin-right    : 5px;
  text-decoration : underline;

  &:hover {
    color           : #000;
    text-decoration : none;
  }
}

.bulk-upload {
  .action-buttons {
    margin-bottom: 20px;
  }
  #bulkupload.show-field-file {
    font-size : 12px !important;
    opacity   : 1 !important;
    position  : relative !important;
    z-index   : 999 !important;
  }
}

.bulk-delete-thumbnails {
  background    : #efefef;
  border-radius : 5px;
  border        : 1px solid #ddd;
  margin-top    : -15px;
  padding       : 10px 10px 5px 0px;

  .image {
    float      : left;
    font-size  : .7em;
    margin     : 0 0 0 10px;
    text-align : center;

    * {
      display       : block;
      margin-bottom : 5px;
    }
  }
}