.image
  .image-controls.clearfix
    input(type="checkbox", value="{{ image.image_id }}")
    a.glyphicon.glyphicon-pencil(ui-sref="image-ownership({ hashid: image.image_id })", target="_blank")
    a.glyphicon.glyphicon-remove(ng-click="delete(image)")

  img(ng-src="{{ image.reference_file_path }}", ng-if="image")

  .name-scroll
    a.image-name(ui-sref="image-ownership({ hashid: image.image_id })", target="_blank") {{ image.title }}
