.images.clearfix(id="{{selector}}")
  .image.file(ng-repeat="file in files", last-file)
    span.abort.fa.fa-times(aria-hidden="true", title="Abort!", ng-click="file.upload.abort(); file.aborted = true")
    .image-controls.clearfix.animated.fadeInDown
      span.label.label-default(ng-show="file.progress == 0") Preparing File.
      span.label.label-primary(ng-show="file.progress > 0 && file.progress < 100") Uploading...
      span.label.label-success(ng-show="file.progress == 100") Processing...

    img(ngf-src="file")

    .name-scroll.animated.fadeInUp
      .progress
        .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: {{ file.progress }}%;')
          span.sr-only {{ file.progress }}% Complete